<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task.title %>,
      "Deadline : " <%=  task.deadline.strftime("%D")  %>
       <%= link_to "Edit this task", edit_task_path(task) %>
    </li>
    <li>"<%= tasks.title %>" by <b><%= tasks.deadline  %></b></li>
  <% end %>
</ul>
